
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyTemplate.cshtml";
}

<div class="fh5co-hero">
    <div class="fh5co-overlay"></div>
    <div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(images/cover_bg_1.jpg);">
        <div class="desc">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 col-md-5">
                        <div class="tabulation animate-box">
                            

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="roundtrip">
                                    <div class="row">
                                        <form action=@Url.Action("calcPath", "Reservations")>
                                        <div class="col-xxs-12 col-xs-6 mt">
                                            <div class="input-field">
                                                <label for="from">From:</label>
                                                <input type="text" class="form-control" id="from-place" name="from" value="tel aviv" />
                                                @if (Session["wrong source"] != null)
                                                {
                                                    <h6 style="color:Tomato;">Wrong Source</h6>
                                                    <h6 style="color:Tomato;">Please try again.</h6>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt">
                                            <div class="input-field">
                                                <label for="from">To:</label>
                                                <input type="text" class="form-control" id="to-place" name="dest" placeholder="rome" />
                                                @if (Session["wrong dest"] != null)
                                                {
                                                    <h6 style="color:Tomato;">Wrong Destination!</h6>
                                                    <h6 style="color:Tomato;">Please try again.</h6>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt alternate">
                                            <div class="input-field">
                                                <label for="date-start">Check In:</label>
                                                <input type="text" class="form-control" id="date-start" placeholder="mm/dd/yyyy" />
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt alternate">
                                            <div class="input-field">
                                                <label for="date-end">Check Out:</label>
                                                <input type="text" class="form-control" id="date-end" placeholder="mm/dd/yyyy" />
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt">
                                        </div>
                                        <div class="col-xs-12">
                                            <input type="submit" class="btn btn-primary btn-block" name="submit" value="Find me the cheapest way!">
                                        </div>
                                        <div class="col-xs-12">
                                            <br>
                                            <input type="submit" class="btn btn-primary btn-block" name="submit" value="Find me the fastest way!">
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="desc2 animate-box">
                        <div class="col-sm-7 col-sm-push-1 col-md-7 col-md-push-2">

                            <h2>Welcome to MSG</h2>
                            <h3>The gratest way to find your next vocation!</h3>
                            <img src="@Url.Content("~/Content/MyTemplate/")images/giphy.gif" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="fh5co-tours" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>About us</h3>
                <p>
                    Far far away, in a small city in Israel, four AWESOME guys decided to make your life much more esier! <br /> Are you up to travel? <br /> Interested in epic experiences? <br />
                    Are you too lazy for browsing between several websites? (we know you are),<br /> let us do the job! just click your wish and it's yours!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
                <div href="#">
                    <img src="@Url.Content("~/Content/MyTemplate/")images/place-1.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <div class="desc">
                        <span></span>
                        <h3>Vehicles</h3>
                        <span>Check our car list!</span>
                        <span class="price">Show'em who roll this shit out!</span>
                        <a class="btn btn-primary btn-outline" href='ComingSoon'>Go <i class="icon-arrow-right22"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
                <div href="#">
                    <img src="@Url.Content("~/Content/MyTemplate/")images/place-2.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <div class="desc">
                        <span></span>
                        <h3>Accomodations</h3>
                        <span>Check our accomodations list!</span>
                        <span class="price">Airbnb flats, Hotels, Hostels, etc..</span>
                        <a class="btn btn-primary btn-outline" href='ComingSoon'>Go <i class="icon-arrow-right22"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
                <div href="#">
                    <img src="@Url.Content("~/Content/MyTemplate/")images/place-3.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <div class="desc">
                        <span></span>
                        <h3>Trips</h3>
                        <span>Wanna have the best time ever?</span>
                        <span class="price">Check these experiences out!</span>
                        <a class="btn btn-primary btn-outline" href='ComingSoon'>Go <i class="icon-arrow-right22"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center animate-box">
                <p><a class="btn btn-primary btn-outline btn-lg" href='ComingSoon'>See All Offers <i class="icon-arrow-right22"></i></a></p>
            </div>
        </div>
    </div>
</div>






<!-- Happy Clients-->
<div id="fh5co-testimonial" style="background-image:url(images/img_bg_1.jpg);">
    <div id="fh5co-testimonial" style="background-image:url(images/img_bg_1.jpg);">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Our Happy Clients</h2>
                </div>
            </div>
            <!-- first vid-->
            <div class="row">
                <div class="col-md-6">
                    <div class="box-testimony animate-box">
                        <blockquote>
                            <span class="quote"><span><i class="icon-quotes-right"></i></span></span>
                            <iframe width="500" height="280" src="https://www.youtube.com/embed/hLxGBUlRIVM?start=30" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </blockquote>
                    </div>
                </div>
                <!-- 2nd vid-->
                <div class="col-md-6">
                    <div class="box-testimony animate-box">
                        <blockquote>
                            <span class="quote"><span><i class="icon-quotes-right"></i></span></span>
                            <iframe width="500" height="280" src="https://www.youtube.com/embed/3iXJ3t7QmeU?start=30" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </blockquote>
                    </div>
                </div>
                <!-- 3rd vid-->
                <div class="col-md-6">
                    <div class="box-testimony animate-box">
                        <blockquote>
                            <span class="quote"><span><i class="icon-quotes-right"></i></span></span>
                            <iframe width="500" height="280" src="https://www.youtube.com/embed/Aq9scr9cVww?start=30" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </blockquote>
                    </div>
                </div>
                <!-- 4th vid-->
                <div class="col-md-6">
                    <div class="box-testimony animate-box">
                        <blockquote>
                            <span class="quote"><span><i class="icon-quotes-right"></i></span></span>
                            <iframe width="500" height="280" src="https://www.youtube.com/embed/MbIPOgY9CTo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </blockquote>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- to delete -->
<!--<div id="fh5co-destination">
    <div class="tour-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul id="fh5co-destination-list" class="animate-box">
                    <li class="one-forth text-center" style="background-image: url(images/place-1.jpg); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                <h2>Los Angeles</h2>
                            </div>
                        </a>
                    </li>
                    <li class="one-forth text-center" style="background-image: url(images/place-2.jpg); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                <h2>Hongkong</h2>
                            </div>
                        </a>
                    </li>
                    <li class="one-forth text-center" style="background-image: url(images/place-3.jpg); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                <h2>Italy</h2>
                            </div>
                        </a>
                    </li>
                    <li class="one-forth text-center" style="background-image: url(images/place-4.jpg); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                <h2>Philippines</h2>
                            </div>
                        </a>
                    </li>

                    <li class="one-forth text-center" style="background-image: url(images/place-5.jpg); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                <h2>Japan</h2>
                            </div>
                        </a>
                    </li>
                    <li class="one-half text-center">
                        <div class="title-bg">
                            <div class="case-studies-summary">
                                <h2>Most Popular Destinations</h2>
                                <span><a href="#">View All Destinations</a></span>
                            </div>
                        </div>
                    </li>
                    <li class="one-forth text-center" style="background-image: url(images/place-6.jpg); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                <h2>Paris</h2>
                            </div>
                        </a>
                    </li>
                    <li class="one-forth text-center" style="background-image: url(images/place-7.jpg); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                <h2>Singapore</h2>
                            </div>
                        </a>
                    </li>
                    <li class="one-forth text-center" style="background-image: url(images/place-8.jpg); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                <h2>Madagascar</h2>
                            </div>
                        </a>
                    </li>
                    <li class="one-forth text-center" style="background-image: url(images/place-9.jpg); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                <h2>Egypt</h2>
                            </div>
                        </a>
                    </li>
                    <li class="one-forth text-center" style="background-image: url(images/place-10.jpg); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                <h2>Indonesia</h2>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>-->
<!-- to delete -->
<!--
<footer>
    <div id="footer">
        <div class="container">
            <div class="row row-bottom-padded-md">
                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                    <h3>About Travel</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                    <h3>Top Flights Routes</h3>
                    <ul>
                        <li><a href="#">Manila flights</a></li>
                        <li><a href="#">Dubai flights</a></li>
                        <li><a href="#">Bangkok flights</a></li>
                        <li><a href="#">Tokyo Flight</a></li>
                        <li><a href="#">New York Flights</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                    <h3>Top Hotels</h3>
                    <ul>
                        <li><a href="#">Boracay Hotel</a></li>
                        <li><a href="#">Dubai Hotel</a></li>
                        <li><a href="#">Singapore Hotel</a></li>
                        <li><a href="#">Manila Hotel</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                    <h3>Interest</h3>
                    <ul>
                        <li><a href="#">Beaches</a></li>
                        <li><a href="#">Family Travel</a></li>
                        <li><a href="#">Budget Travel</a></li>
                        <li><a href="#">Food &amp; Drink</a></li>
                        <li><a href="#">Honeymoon and Romance</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                    <h3>Best Places</h3>
                    <ul>
                        <li><a href="#">Boracay Beach</a></li>
                        <li><a href="#">Dubai</a></li>
                        <li><a href="#">Singapore</a></li>
                        <li><a href="#">Hongkong</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                    <h3>Affordable</h3>
                    <ul>
                        <li><a href="#">Food &amp; Drink</a></li>
                        <li><a href="#">Fare Flights</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <p class="fh5co-social-icons">
                        <a href="#"><i class="icon-twitter2"></i></a>
                        <a href="#"><i class="icon-facebook2"></i></a>
                        <a href="#"><i class="icon-instagram"></i></a>
                        <a href="#"><i class="icon-dribbble2"></i></a>
                        <a href="#"><i class="icon-youtube"></i></a>
                    </p>
                    <p>Copyright 2016 Free Html5 <a href="#">Module</a>. All Rights Reserved. <br>Made with <i class="icon-heart3"></i> by <a href="http://freehtml5.co/" target="_blank">Freehtml5.co</a> / Demo Images: <a href="https://unsplash.com/" target="_blank">Unsplash</a></p>
                </div>
            </div>
        </div>
    </div>
</footer> -->






<script src="@Url.Content("~/Content/MyTemplate/")js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="@Url.Content("~/Content/MyTemplate/")js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="@Url.Content("~/Content/MyTemplate/")js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="@Url.Content("~/Content/MyTemplate/")js/jquery.waypoints.min.js"></script>
<script src="@Url.Content("~/Content/MyTemplate/")js/sticky.js"></script>

<!-- Stellar -->
<script src="@Url.Content("~/Content/MyTemplate/")js/jquery.stellar.min.js"></script>
<!-- Superfish -->
<script src="@Url.Content("~/Content/MyTemplate/")js/hoverIntent.js"></script>
<script src="@Url.Content("~/Content/MyTemplate/")js/superfish.js"></script>
<!-- Magnific Popup -->
<script src="@Url.Content("~/Content/MyTemplate/")js/jquery.magnific-popup.min.js"></script>
<script src="@Url.Content("~/Content/MyTemplate/")js/magnific-popup-options.js"></script>
<!-- Date Picker -->
<script src="@Url.Content("~/Content/MyTemplate/")js/bootstrap-datepicker.min.js"></script>
<!-- CS Select -->
<script src="@Url.Content("~/Content/MyTemplate/")js/classie.js"></script>
<script src="@Url.Content("~/Content/MyTemplate/")js/selectFx.js"></script>

<!-- Main JS -->
<script src="@Url.Content("~/Content/MyTemplate/")js/main.js"></script>

