@*@model WebApplicationTravel.Models.Reservation*@
@model IEnumerable<WebApplicationTravel.Models.Reservation>
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <!------------------------------------------------------------->
    <meta name="viewport" content="width=device-width" />

    @* Template Header files *@
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MSG Find your next vacation &mdash; 100% Free Fully Responsive HTML5 Template by FREEHTML5.co</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FREEHTML5.CO" />


    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/MyTemplate/")css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="@Url.Content("~/Content/MyTemplate/")css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="@Url.Content("~/Content/MyTemplate/")css/bootstrap.css">
    <!-- Superfish -->
    <link rel="stylesheet" href="@Url.Content("~/Content/MyTemplate/")css/superfish.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="@Url.Content("~/Content/MyTemplate/")css/magnific-popup.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="@Url.Content("~/Content/MyTemplate/")css/bootstrap-datepicker.min.css">
    <!-- CS Select -->
    <link rel="stylesheet" href="@Url.Content("~/Content/MyTemplate/")css/cs-select.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/MyTemplate/")css/cs-skin-border.css">

    <link rel="stylesheet" href="@Url.Content("~/Content/MyTemplate/")css/style.css">

    <script src="@Url.Content("~/Content/MyTemplate/")js/modernizr-2.6.2.min.js"></script>

    <!------------------------------------------------------------->
    <title>Table V04</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/MyTemplate/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/MyTemplate/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/MyTemplate/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/MyTemplate/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/MyTemplate/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/MyTemplate/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/MyTemplate/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/MyTemplate/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <header id="fh5co-header-section" class="sticky-banner">
        <div class="container">
            <div class="nav-header">
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
                <h1 id="fh5co-logo"><a><i class="icon-airplane"></i>MSG - Find your next vacation</a></h1>
                <!-- START #fh5co-menu-wrap -->
                <nav id="fh5co-menu-wrap" role="navigation">
                    <ul class="sf-menu" id="fh5co-primary-menu">
                        <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li><a href="flight.html">Flights</a></li>
                        <li><a href="car.html">Car</a></li>

                        @if (Session["UserName"] != null)
                        {
                            <li>@Html.ActionLink("Hello " + Session["UserName"], "Profile", "Reservations")</li>
                            <li>@Html.ActionLink("Logout", "Logout", "Accounts")</li>
                            if (Session["Admin"] == "admin")
                            {
                                <li>@Html.ActionLink("DataBase", "Index", "Cities")</li>
                            }
                        }
                        else
                        {
                            <li>@Html.ActionLink("Log-in", "Login", "Accounts")</li>
                            <li>@Html.ActionLink("Sign-up", "Register", "Accounts")</li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </header>
 
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100 ver1 m-b-110">
                    <div class="table100-head">
                        <table>
                            <thead>
                                <tr class="row100 head">
                                    <th class="cell100 column1">Reservation Number</th>
                                    <th class="cell100 column1">Departure date</th>
                                    <th class="cell100 column3">Reservation Detail</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table100-body js-pscroll">
                        <table>
                            <tbody>
                         
                               @foreach (var item in Model)
                               {
                                <tr>
                                    <td class="cell100 column1">
                                        @Html.DisplayFor(modelItem => item.ReservationId)
                                    </td>
                                    <td class="cell100 column1">
                                        @Html.DisplayFor(modelItem => item.Departure)
                                    </td>
                                    <td class="cell100 column6">
                                       @Html.DisplayFor(modelItem => item.TheReservation)
                                    </td>
                                </tr>

                               }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/Content/MyTemplate/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/MyTemplate/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/MyTemplate/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/MyTemplate/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/MyTemplate/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function () {
            var ps = new PerfectScrollbar(this);

            $(window).on('resize', function () {
                ps.update();
            })
        });


    </script>
    <!--===============================================================================================-->
    <script src="~/Content/MyTemplate/js/main.js"></script>
</body>
</html>