@model IEnumerable<WebApplicationTravel.Models.Connections>

@{
    ViewBag.Title = "ConnectionSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ConnectionSearch</h2>


<form asp-controller="Connections" asp-action="ConnectionSearch">
    <p>
        <input type="text" name="sourceCity" placeholder="Source city">
        <input type="text" name="flightDuration" placeholder="Flight duration">
        <input type="text" name="flightPrice" placeholder="Flight price">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SourceCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlightDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlightPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarAvailabilty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlightAvailabilty)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SourceCity.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DestCity.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlightDuration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarDuration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlightPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarAvailabilty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlightAvailabilty)
        </td>
       
    </tr>
}

</table>
