@model IEnumerable<WebApplicationTravel.Models.City>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form asp-controller="Cities" asp-action="Index">
    <p>
        <input type="text" name="search" placeholder="City name">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Country.CountryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlightPriceKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarRentalPriceKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Country.CountryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlightPriceKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarRentalPriceKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CityId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CityId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CityId })
        </td>
    </tr>
}

</table>
